.renderer-container {
  padding: 30px 15px;
  width: 100%;
}

.tree-item {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 24px;
  width: 100%;
}

.tree-item.clickable {
  cursor: pointer;
}


/* differentiations between tree levels */

.tree-item[class^='item-depth-'],
.tree-item[class*='item-depth-'] {
  padding-left: 40px;
}

.tree-item.item-depth-0 {
  padding-left: 10px;
}

.tree-item.item-depth-1 {
  padding-left: 20px;
}

.tree-item.item-depth-2 {
  padding-left: 30px;
}

/*.tree-item.item-depth-3 {
  padding: 30px;
}*/

.add-button {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 1em;
  margin-left: 15px;
  cursor: pointer;
}


.mode-options {
  padding: 10px 15px 0;
}



.new-item-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  opacity: 0.7;
}

.modal-container {
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 20px;
  margin: 25% auto 0;
}

.modal-container input {
  margin-top: 10px;
  margin-bottom: 10px;
}
