<!DOCTYPE html>
<html ng-app="treeRenderer">
<head>
    <meta charset="utf-8">
    <title>Category Tree</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../../vendor/bootstrap-sass/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/base.css" />

    <!-- Libraries -->
    <script src="../../vendor/angular/angular.min.js"></script>
    <script src="../../vendor/lodash/lodash.js"></script>

    <!-- Code -->
    <script src="../js/defaultTree.js"></script>
    <script src="../js/treeController.js"></script>
    <script src="../js/app.js"></script>
</head>

<body ng-controller="TreeRendererController as $ctrl"
      class="tree-renderer"
      ng-cloak>
  <div class="mode-options">
    <span>Reset tree and use method:</span>
    <button ng-click="$ctrl.renderDefaultTreeWithMode('recur')">Recursive</button>
    <button ng-click="$ctrl.renderDefaultTreeWithMode('iter')">Iterative</button>
  </div>
  <div class="renderer-container">
    <div class="tree-item"
         ng-repeat="item in $ctrl.treeItems"
         ng-class="['item-depth-' + item.depth, { clickable: item.children.length > 0 }]"
         ng-click="$ctrl.toggleItem(item)"
         ng-if="!item.parent || $ctrl.parentsVisible(item)"
         >
      <span class="item-title">{{ item.title }}<span>
      <button class="add-button"
              ng-click="$ctrl.openModal(item); $event.stopPropagation();">+</button>
    </div>
  </div>
  <div class="new-item-modal" ng-if="$ctrl.showModal">
    <div class="modal-container">
      <label>Add new item</label>
      <input type="text" ng-model="$ctrl.newItemTitle"></input>
      <button ng-click="$ctrl.addNewItem()">Add</button>
      <button ng-click="$ctrl.hideModal()">Cancel</button>
    </div>
  </div>
</body>
</html>
